<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
 <listeners>
<!--<listener class-name="C:\Users\rubin\eclipse-workspace\New folder (2)\RLL_Group6\src\test\resources\extent.properties"></listener> 
<listener class-name="C:\Users\rubin\eclipse-workspace\New folder (2)\RLL_Group6\src\test\java\Iretry\MyRetry.java" ></listener>    -->  
     <!--<listener class-name="utilities.Listener"/>   -->
    <listener class-name="utilities.Listener"></listener>
     <listener class-name="utilities.annotations"></listener>                                    
</listeners>
<test thread-count="5" name="Test">
    <classes>
      <class name="runner.TestRunner"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
